== render 'header'

- breadcrumb :edit_task
== render 'shared/breadcrumbs'

.nav.justify-content-end
  = link_to '一覧', tasks_path, class: 'nav-link'

= render partial: 'form', locals: { task: @task }
