// Place all the styles related to the Admin::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-name {
  font-weight: bold;
  font-size: 1.4rem;
}

.wrap{
  width: 100%;
  margin: 0 auto;
}

.clearfix {
  margin: 0;
  padding: 0;
}

.clearfix:after{
  content:"";
  clear: both;
  display: block;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: calc(100% / 3);
}

#tab-menu a {
  color: grey;
  text-decoration: none;
  display: block;
  padding: 0.3rem;
  text-align: center;
  background: whitesmoke;
  border: solid #333 1px;
}

#tab-menu .active {
  background: #ffdead;
  color: #000;
}

.tab-menu_label {
  font-size: 0.7rem;
}

#tab-contents .tab {
  padding: 30px;
  border-top: none;
}

#tab-contents p {
  line-height: 2.5;
}
@media screen and (max-width: 768px) {
  #tab-contents p {
    line-height: 1.8rem;
  }
}

.calc-width-30 {
  width: calc(100% / 3);
}

.search-terms {
  background-color: #f5deb3;
  padding: 10px;
  margin-bottom: 20px;
}

.search_heading {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.user-search-table {
  margin: 0 auto;
  margin-bottom: 10px;
}

.user-show-icon-img {
  width: 30px;
  height: 30px;
}

.tab-menu_label {
  display: block;
}


.user-detail-card {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .user-card {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .sp-display-none {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .review-create-time {
    font-size: 0.7rem;
  }
}
