/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'admin/users';
@import 'comments';
@import 'sessions';
@import 'shops';
@import 'tasks';
@import 'reviews';
@import 'likes';
@import 'mypages';

html {
  font-size: 62.5%;
}

.mt-50 {
  margin-top: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.width-30 {
  width: 30%;
  margin: 0 auto;
}

.text-white {
  color: #fff;
}

.page-ttl {
  position: relative;
  color: #158b2b;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
  margin-top: 50px;
}
.page-ttl:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.pagination {
  margin-top: 20px;
  justify-content: center;
}

// ヘッダー
.dropdown-toggle {
  color: #fff;
}

.dropdown-toggle:hover {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu a {
  color: #333;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-brand a i {
  margin-right: 5px;
}

// ヘッダー画像
.header_bg_img {
  width: 100%;
  height: auto;
}

.header_box {
  position: relative;
  margin-bottom: 50px;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  width: 100vw;
}

.header_ttl {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.header_ttl_ja {
  letter-spacing: 0.3rem;
}
@media screen and (max-width: 768px) {
  .header_ttl_ja {
    font-size: 1.4rem;
  }
}

.header_ttl_en {
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .header_ttl_en {
    font-size: 0.2rem;
  }
}

.ad-img {
  width: 100%;
  height: auto;
}
