/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'admin/users';
@import 'comments';
@import 'sessions';
@import 'shops';
@import 'tasks';
@import 'reviews';
@import 'likes';
@import 'mypages';
@import 'home';
@import 'inquiry';

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-bottom: 30px;
}

footer {
  margin-top: auto;
}

label {
  margin-bottom: 0;
  margin-right: 10px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.width-30 {
  width: 30%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .width-30 {
    width: 70%;
  }
}

.text-white {
  color: #fff;
}

.page-ttl {
  position: relative;
  color: #158b2b;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
  margin-top: 50px;
}
.page-ttl:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.pagination {
  margin-top: 20px;
  justify-content: center;
}

// ヘッダー
.breadcrumbs {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.breadcrumbs a,
.breadcrumbs span {
  margin-right: 8px;
  margin-left: 8px;
}
@media screen and (max-width: 768px) {
  .breadcrumbs a,
  .breadcrumbs span {
    font-size: 0.7rem;
    margin-right: 5px;
    margin-left: 5px;
  }
}

a:hover {
  text-decoration: none;
}

.dropdown-toggle {
  color: #fff;
}

.dropdown-toggle:hover {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu a {
  color: #333;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-brand a i {
  margin-right: 5px;
}

.dropdown-menu.show {
  width: 100%;
}

.dropdown-menu.show li {
  margin-left: 0;
}

.flex li {
  margin-left: 0;
}

// ヘッダー画像
.header_bg_img {
  width: 100%;
  height: auto;
}

.header_box {
  position: relative;
  margin-bottom: 20px;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  width: 100vw;
}

.header_ttl {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.header_ttl_ja {
  letter-spacing: 0.3rem;
}
@media screen and (max-width: 768px) {
  .header_ttl_ja {
    font-size: 1.4rem;
  }
}

.header_ttl_en {
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .header_ttl_en {
    font-size: 0.2rem;
  }
}

// @media screen and (max-width: 768px) {
//   .line-banner {
//     margin-bottom: 40px;
//   }
// }

.ad-img {
  width: 100%;
  height: auto;
}

.notifications {
  color: $white;
  text-align: center;
  font-size: 1.4rem;

  .notice {
    background-color: lightBlue;
    padding: 0.75rem 1.25rem;
  }

  .alert {
    background-color: red;
  }
}

footer {
  background-color: #333;
  padding: 20px 0;
}

.footer-content {
  font-size: 1.4rem;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-content ul li {
  padding-left: 1em;
  text-indent: -.7em;
  margin-bottom: 10px;
}

.footer-content ul li:before {
  content: "• ";
  color: #fff;
}

.footer-content li a,
.footer-content p small {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .footer-content li a {
    font-size: 0.8rem;
  }
}

.footer-logo a {
  color: #fff;
}

.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

@media screen and (max-width: 768px) {
  .humburger_menu_bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: none;
    z-index: 2;
  }
  .humburger_menu_bg.scroll {
    background-color: #333;
    opacity: 0.5;
    transition: 0.8s;
  }
  .humburger_menu {
    position: fixed;
    width: 44px;
    height: 44px;
    display: inline-block;
    top: 2px;
    right: 0;
    z-index: 9999;
  }
  .humburger_menu span {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    right: 25px;
    transition: all 0.5s ease;
  }
  .humburger_menu span.bar1 {
    top: 20px;
  }
  .humburger_menu span.bar2 {
    top: 26px;
  }
  .humburger_menu span.bar3 {
    top: 32px;
  }
  .bar1.open {
    top: 26px!important;
    transform: rotate(45deg);
  }
  .bar2.open { opacity: 0;
  }
  .bar3.open {
    top: 26px!important;
    transform: rotate(-45deg);
  }
  .globalHeader nav {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background: #202020;
    color: #fff;
    width: 240px;
    height: 100vh;
    transform: translate(240px);
    transition: all 0.6s;
  }
  .globalHeader nav.open {
    transform: translate(0);
  }

  #globalNavi {
    padding-inline-start: 16px;
    display: block;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }
  .logo a {
    font-size: 1.5rem;
  }
  .flex li {
    margin-bottom: 20px;
  }
}
