// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ttl-01 {
  text-align: center;
  font-size: 2rem;
}

.comment-box {
  background-color: #dcdcdc;
  padding: 15px;
  margin-top: 10px;
}

.comment-body {
  font-size: 1.4rem;
}

.comment-create {
  font-size: 0.9rem;
}
