// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-table {
  width: 50%;
  margin: 0 auto;
}

.dashboard-table tr {
  line-height: 20px;
  font-size: 1.2rem;
}

.mypage-image img {
  width: 100px;
  height: 100px;
}

.update-form {
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}

#dashboard-sidebar ul li a {
  color: #333;
  font-size: 1.4rem;
}

#dashboard-sidebar ul li a i {
  margin-right: 8px;
}

.card-img-top img {
  width: 100%;
  height: 200px;
}

.card-title {
  font-size: 1.4rem;
}

.mypage-comment-body {
  font-size: 1.4rem;
}

.icon-parent {
  display: flex;
	align-items: center;
}

.delete-icon {
  vertical-align: middle;
}
