// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reviews {
  border: 1px solid #333;
  padding: 5px;
}

.balloon1-left {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}
@media screen and (max-width: 768px) {
  .balloon1-left {
    margin: 20px 0;
  }
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}
@media screen and (max-width: 768px) {
  .balloon1-left:before {
    top: -15px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
  }
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width: 768px) {
  .child {
    position: relative;
    text-align: center;
  }
}

.child p {
  margin-bottom: 0;
}

.review-content {
  width: 100%;
}

.review-show-img {
  width: 100%;
  height: auto;
}

.review-show-body {
  font-size: 1.5rem;
  line-height: 2.7rem;
}
