// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shop-card-img {
  margin: 0 auto;
}

.shop-table {
  width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .shop-table {
    width: 100%;
  }
}

.button-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.button-img:hover {
  opacity: 0.7;
  transition: 1s;
}

.shop-search-table tr th {
  line-height: 30px;
}

.sidebar-review-shop-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.sidebar-review-ttl {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.sidebar-newreview-box:hover {
  background-color: #f5deb3;
  transition: 0.5s;
}

.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.shop-show-img {
  width: 100%;
  height: auto;
}
