// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task-ttl-box {
  background-color: #ffe4c4;
  padding: 15px;
}

.task-create {
  margin-bottom: 30px;
}

.task-ttl {
  font-weight: bold;
}

.task-desc {
  font-size: 1.4rem;
}
