// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task-ttl-box {
  background-color: #ffe4c4;
  padding: 15px;
}

.task-create {
  margin-bottom: 30px;
}

.task-ttl {
  font-weight: bold;
}

.task-desc {
  font-size: 1.4rem;
}

.task-search-table {
  width: 100%;
}

.task-search-table input {
  width: 100%;
}

.tag-card a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 10px;
}

.new-task-table {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.new-task-table tr {
  height: 30px;
}

.new-task-table input {
  width: 100%;
}

.thread-index tr {
  line-height: 30px;
}
